table.exercise-list td {
    font-size: xx-large;
    font-weight: bolder;
}

.error-message {
    color: white;
    padding: 1rem;
    border: 1px solid red;
    border-radius: 0.25rem;
    background-color: rgba(255, 0, 0, 0.1);
}